<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>User-page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="utf-8">
    <title>Admin Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">

</head>
<body style="background: #FFCA73">

<!--Тело-->
<div class="container-fluid">

    <div class="row no-gutters">
        <div  class="col"></div>
        <div  class="col-auto">
            <div style="margin-top: 90px;width: 1300px;color: #6E6363;">
                <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm nav-panel" style="width: 1300px; color: #6E6363;">
                    <a class="navbar-brand">NoteApp</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/user/notes">Заметки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/categories-and-labels">Категории и метки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/main">Профиль</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/main">Корзина</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/main">Поддержка</a>
                            </li>
                        </ul>
                        <div class="navbar-text mr-3" sec:authentication="name"></div>
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-sm btn-outline-danger" type="submit" style="width: 80px">Выход</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div  class="col"></div>
    </div>

    <div class="row no-gutters" style="padding-top: 30px">
        <div class="col" style="width: 200px;"></div>
        <div class="col-auto">
            <div class="shadow-sm" style="height: 700px;width: 1300px;background: whitesmoke;color: #6E6363;">
                <!--Часть для вставки-->
                <div class="custom-control-inline">
                    <div class="list-group rounded-0" style="width: 400px; height: 747px">
                        <a class="list-group-item list-group-item-action active disabled">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Категории</h5>
                            </div>
                        </a>
                        <div class="pre-scrollable" style=" height: 647px; background: #FCFFD1; max-height: 2000px; overflow-y: scroll;" >
                            <div th:each="category : ${categories}">
                                <a class="list-group-item list-group-item-action" th:href="@{/user/notes/{id}/show-notes-of-category(id=${category.getId()})}" style="background: white">
                                    <div class="custom-control-inline">
                                        <div class="d-flex w-100 justify-content-between ">
                                            <h5 class="mb-1 text-truncate" style="color: #495057" th:utext="${category.getName()}">...</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="list-group rounded-0" style="width: 900px; height: 747px">
                        <a href="#" class="list-group-item list-group-item-action disables" style="background: #77D011; color: white">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 ">Заметки</h5>
                            </div>
                        </a>
                        <div class="pre-scrollable" style=" height: 500px; background: #FCFFD1; max-height: 2000px; overflow-y: scroll;">
                            <div th:each="note : ${notes}">
                                <a href="#" class="list-group-item list-group-item-action" th:href="@{/user/notes/{id}/edit(id=${note.getId()})}">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1 text-truncate" th:utext="${note.getName()}">...</h5>
                                        <small th:utext="${note.getTime()}">...</small>
                                    </div>
                                    <p class="mb-1 text-truncate" th:utext="${note.getText()}">...</p>
                                    <small th:each="label : ${note.getLabels()}">
                                        <span class="badge badge-primary" th:utext="${label.getName()}">...</span>
                                    </small>
                                </a>
                            </div>
                        </div>
                        <!--Панель инструментов-->
                        <div class="shadow-bg border-1" style="width: 900px; height: 147px; padding-left: 0px; margin-top: 0px; background: white">
                            <a class="btn btn-sm btn-success badge-pill shadow-sm" th:href="@{/user/notes/add}" style="width: 180px; margin-left: 700px; margin-top: 20px">
                                <div class="custom-control-inline" style="padding-top: 4px">
                                    <i class="fas fa-plus" style="padding-top: 4px"></i>&nbsp;&nbsp;<h6>Новая заметка</h6>
                                </div>
                            </a>
                            <a class="btn" th:action="@{/user/notes}" method="get" style="position: absolute; width: 30px; height: 30px; padding-top: -30px; padding-left: 30px">
                                <button class="btn" style="background: transparent;border: none !important;" type="submit"><i class="fas fa-sync-alt"></i></button>
                            </a>

                        </div>
                    </div>
                </div>

                <!--Конец вставки-->
            </div>
        </div>
        <div class="col"></div>
    </div>

</div>
<!--Конец-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>